<!DOCTYPE html>
<html>
    <body>
        <form method="POST" action="/login" id="postform">
            Login To ProjectManagementApp: <br>
            Email:<input name="email" id="email"><br>
            Password:<input name="password" id="password"><br>
            <input type="submit">
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $("#postform").submit(function(){
                    var email = $("#email").val();
                    var password = $("#password").val();
                    data = {
                        "email": email,
                        "password": password
                    };
                    $.ajax({
                        url: $("#postform").attr("action"),
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        success: function(response){
                            console.log(JSON.stringify(response, null, 2));
                            //console.log()
                            //alert(JSON.stringify(response.data, null, 2));
                            //$("#result").text(JSON.stringify(response.data, null, 2));
                        }
                    });
                    return false;
                });
            });
        </script>
    </body>
</html>
