{% extends "base.html" %}

{% block app_content %}
    <h1>Create New Issue</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(create_issue) }}
        </div>
    </div>
    <br>
    {% if create_project %}
    <h1>Create New Project</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(create_project) }}
        </div>
    </div>
    {% endif %}
    <br>
    {% if add_user %}
    <h1>Add User To Project</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(add_user) }}
        </div>
    </div>
    {% endif %}
{% endblock %}