{% extends "base.html" %}

{% block app_content %}
    <div class="body-content">
        <div class="container-fluid">
            <div class="row">
                {% if issue and self_assign %}
                <div class="col-md-6">
                    <h1>Issue Details</h1><br>
                    <i><b><a href='{{  issue.url }}'>{{ issue.name }}</a></b></i><br>
                    Description: {{ issue.description }} <br>
                    Priority: {{ issue.priority }} <br>
                    Labels: {{ issue.labels }} <br>
                    Assignees: {{ issue.assignees }} <br> <br>
                </div>
                <div class="col-md-6">
                    <h1>Self-Assign To Issue</h1>
                    <br>
                    {{ wtf.quick_form(self_assign) }}
                    {% if assign_other %}
                    <h1>Assign User To Issue</h1>
                    <br>
                    {{ wtf.quick_form(assign_other) }}
                    {% endif %}
                </div>
                {% else %}
                This issue does not exist.
                {% endif %}
            </div>
        </div>
    </div>
    <br>
{% endblock %}
