{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">ProjectManagementApp</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block app_content %}
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    <br>
    <p>
        This is a Python Flask application created by James D. Wood, an undergraduate student at the Georgia Institute of Technology.<br>
        In order to demo this application, please use the following login details to try various user types:<br><br>

        Admin: admin@test.com<br>
        Developer: developer@test.com<br>
        Client: client@test.com<br><br>

        The password for all of the above is 123abc.<br>
    </p>
{% endblock %}